# .Net Artifacts
bin/
obj/
/packages/

# JetBrains Settings
riderModule.iml
/_ReSharper.Caches/
/.idea
/bruneluni-weatherstation-client/.idea
*DotSettings.user


# Env Settings

launchSettings.json
*appsettings.Production.json

# DB Stuff
*.db*